<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% block title %}
	<link rel = "stylesheet" href = "static/css/home.css">
	{% endblock %}
</head>
<body bgcolor = "#3399ff">
	{% block content %}
	<div id = "New_Usr" class = when_click>
		<h2>Click here for registration or checking info</h2>
	</div>
	<div id = "Ex_user" class = when_click>
		<h2>Click here to check the status</h2>
		<h2>Login</h2>
	</div>
	<div id = "admin" class = when_click>
		<h2>Login</h2>
	</div>
	<script type="text/javascript" src = "static/js/home.js"></script>
	<button class = "tab_Def" onclick="openwin('New_Usr' , this , '#000066')">New Users</button>
	<button class = "tab_Def" onclick="openwin('Ex_user' , this , '#000066')">Exiting Users</button>
	<button class = "tab_Def" onclick="openwin('admin' , this , '#000066' )">For Admin</button>
	<br><br><br>
	<div style = "border : 5px solid black ; background-color: white; text-align: center;font-family: Copperplate, Copperplate Gothic Light, fantasy; font-style : normal ; font-size: 50px ; color : red">WELCOME TO ALLSAFE</div>
	{% endblock %}
</body>
</html>
